
/* ==========SCROLL BAR================== */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(43, 43, 43);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #d3498e;
    border-radius: 15px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d3498e;
    /* border: 1px solid var(--first-color);  */
}

/* ================= HOME =============================== */

.carousel-item img{ 
    display: flex;
    justify-content: center;
    object-fit: cover;
    height: 100vh;
  
    
}

section{
    height: 100vh;
}

h5{
    color: #d3498e;
    font-size: 30px;
    font-weight: 900;
}

.nav-link{
    color: #8b0548;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 10px;
}

/* ==================== CUSTOMER ============================== */
.Customer,
.Item,
.Order{
    padding-top: 100px;
    padding-left: 30px;
}


.Customer .card-img{
    width: 150px;
    height: 60px;
}
.Customer .card{
    border-color: white;
}
.Customer .card-title{
    padding-left: 10px;
    color: #ff80c0;
    font-size: 25px;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
 }
 .container{
    padding-top: 100px;
   

  }
  .col{
    height: 240px;
    width: 200px;
    background-color:whitesmoke;
   margin: 50px;
   border-radius: 30px;
  }
  .col img{
    margin: 30px;
    height: 100px;
    width: 120px;
  }

  
  /* customer form */
  .col-10{
    
    margin: 5px;
}


/* ==================== ITEM ============================== */
.Item .card-img{
    width: 150px;
    height: 60px;
}
.Item .card{
    border-color: white;
}
.Item .card-title{
    padding-left: 25px;
    color: #ff80c0;
    font-size: 25px;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* ==================== ORDER ============================== */
.Order .card-img{
    width: 150px;
    height: 60px;
}
.Order .card{
    border-color: white;
}
.Order .card-title{
    padding-left: 20px;
    color: #ff80c0;
    font-size: 25px;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
